@font-face {
  font-family: 'PxGrotesk';
  src: local('PxGrotesk'), url(./fonts/PxGrotesk-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk';
  src: local('PxGrotesk'), url(./fonts/PxGrotesk-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk';
  src: local('PxGrotesk'), url(./fonts/PxGrotesk-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Linotype';
  src: local('Linotype'), url(./fonts/Linotype\ -\ OptimaLTStd-ExtraBlack.otf) format('opentype');
}

@font-face {
  font-family: 'Linotype';
  src: local('Linotype'), url(./fonts/Linotype\ -\ OptimaLTStd-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Linotype';
  src: local('Linotype'), url(./fonts/Linotype\ -\ OptimaLTStd-DemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'Linotype';
  src: local('Linotype'), url(./fonts/Linotype\ -\ OptimaLTStd-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Linotype';
  src: local('Linotype'), url(./fonts/Linotype\ -\ OptimaLTStd-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Linotype';
  src: local('Linotype'), url(./fonts/Linotype\ -\ OptimaLTStd-Regular.otf) format('opentype');
}

.App {
  position: relative;
  min-height: 100vh;
}

.practice {
  font-family: Linotype, ExtraBlack;
}

.App-header {
  background-color: rgb(247, 243, 239);
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

